@model StoreModels.Manager

<div>
    <h4>Manager</h4>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>