@model Tuple<CustomerIndexVM, List<OrderIndexVM>, List<LocationIndexVM>>

@{
    Layout = "../Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Customer Orders";
}

<div>
    @Html.ActionLink("Back to Customer Menu", "CustomerIndex", "Customer", new { custId = Model.Item1.Id }, new { @class = "btn btn-secondary" })
</div>

<h1>@Model.Item1.CustomerName's Previous Orders</h1>

<div>
    <h5>Sort By:</h5>

    <select id="sortSelector" class="custom-select">
        <option value="SortByDateOldToNew" default>By Date (Old to New)</option>
        <option value="SortByDateNewToOld">By Date (New to Old)</option>
        <option value="SortByPriceHighToLow">By Price (High to Low)</option>
        <option value="SortByPriceLowToHigh">By Price (Low to High)</option>
        <option value="SortByLocation">By Location</option>
    </select>

    <table id="orderTable" class="table-dark table table-bordered mt-3">
        <thead>
            <tr>
                <th>
                    Location ID
                </th>
                <th>
                    Purchase Date
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>

        <tbody id="orderHistory">
            @foreach (var item in Model.Item2)
            {
                <tr class="orderList">
                    <td class="orderLocation">
                        @item.LocationId
                    </td>
                    <td class="orderDate">
                        @item.Date
                    </td>
                    <td class="orderTotal">
                        @item.Total
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/sortingCustomerOrders.js">
</script>