@model StoreMVC.Models.CartCRVM

@{
    Layout = "../Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Editing Cart";
}

<h1>@ViewBag.CustomerName's Cart</h1>

<h3>Location: @ViewBag.Location</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CartMenu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product: @ViewBag.ProductName</label>
                <input asp-for="TempProdId" class="form-control" value="@ViewBag.ProductId" style="display:none;" />
                <input asp-for="LocationId" class="form-control" value="@ViewBag.LocationId" style="display:none;" />
                <input asp-for="CustomerId" class="form-control" value="@ViewBag.CustomerId" style="display:none;" />
            </div>
            <div class="form-group">
                <label class="control-label">Quantity (@ViewBag.ProductAvailable in Stock)</label>
                <input asp-for="TempQuantity" class="form-control" type="number" value="1" autofocus />
                <span asp-validation-for="TempQuantity" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value=@Model.Id/>
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
        <p class="text-danger">
            @ViewBag.ErrorMessage
        </p>
    </div>
</div>

<div>
    @Html.ActionLink("Back To Products", "Shop", "Location", new { locId = ViewBag.LocationId, custId = ViewBag.CustomerId })
</div>