@model Tuple<LocationIndexVM, CustomerIndexVM, ProductIndexVM, CartCRVM>

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Editing Cart";
}

<h1>@Model.Item2.CustomerName's Cart</h1>

<h3>Location: @Model.Item1.Address @Model.Item1.City, @Model.Item1.State (@Model.Item1.Zipcode)</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CartMenu">
            <div class="form-group">
                <label class="control-label">Product: @Model.Item3.ProductName</label>
                <input type="hidden" name="productId" class="form-control" value="@Model.Item3.Id" />
                <input type="hidden" name="locationId" class="form-control" value="@Model.Item1.Id" />
                <input type="hidden" name="customerId" class="form-control" value="@Model.Item2.Id" />
            </div>
            <div class="form-group">
                <label class="control-label">Quantity (@Model.Item3.Quantity in Stock)</label>
                <input name="updatedQuantity" class="form-control" type="number" value="1" autofocus />
            </div>
            <input type="hidden" name="cartId" value=@Model.Item4.Id />
            <div class="form-group">
                <input type="submit" value="Add To Cart" class="btn btn-primary" />
            </div>
        </form>
        <p class="text-danger">
            @ViewBag.ErrorMessage
        </p>
    </div>
</div>

<div>
    @Html.ActionLink("Back To Products", "Shop", "Location", new { locId = @Model.Item1.Id, custId = @Model.Item2.Id })
</div>