@model IEnumerable<StoreMVC.Models.LocationIndexVM>

@{
    ViewData["Title"] = "Manage Locations";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div>
    @Html.ActionLink("View All Customers", "AllCustomers", "Customer", null, new { @class = "btn btn-secondary mb-2" })
</div>

<h1>Choose a location</h1>

<a asp-action="Create" class="btn btn-primary mb-2">Create new location</a>

<input class="input-group my-2 p-1" type="text" id="searchLocationInput" onkeyup="searchLocations()" placeholder="Search by zipcode...">

<table id="locationTable" class="table-dark table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>
                <td>
                    @Html.ActionLink("View Orders", "PrevOrders", "Location", new { locId = item.Id }, new { @class = "btn btn-primary mr-2" })
                    @Html.ActionLink("Edit Products", "ManagerProductView", "Location", new { locId = item.Id }, new { @class = "btn btn-primary mr-2" })
                    @Html.ActionLink("Edit", "Edit", "Location", new { locId = item.Id }, new { @class = "btn btn-warning mr-2" })
                    @Html.ActionLink("Delete", "Delete", "Location", new { locId = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/sortingLocations.js"></script>