@model dynamic

@{
    Layout = "../Shared/_ManagerLayout.cshtml";
    ViewData["Title"] = "Manager Products at Location";
}

<div>
    <h4>Location: @Model.Location.Address @Model.Location.City, @Model.Location.State (@Model.Location.Zipcode)</h4>

    <div>
        <a asp-action="ManagerIndex">Back to Locations</a>
    </div>

    <h5>All Products:</h5>

    @Html.ActionLink("Add new product", "CreateProduct", "Location", new { locId = @Model.Location.Id }, new { @class = "btn btn-secondary" })

    @foreach (var product in Model.Products)
    {
        <div>
            <h4>
                @product.ProductName
            </h4>
            <p>
                @product.ProductPrice
            </p>
            <p>
                @product.Quantity
            </p>
        </div>
        @Html.ActionLink("Edit", "EditProduct", "Location", new { prodId = product.Id })
    }
</div>