@model dynamic

@{
    Layout = "../Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Shop Location";
}

<h1>Details</h1>

<div>
    <h4>Welcome to @Model.Location.Address @Model.Location.City, @Model.Location.State (@Model.Location.Zipcode)!</h4>

    @foreach (var product in Model.Products)
    {
        <div>
            <h4>
                @product.ProductName
            </h4>
            <p>
                @product.ProductPrice
            </p>
            <p>
                @product.Product.Inventory.Quantity
            </p>
        </div>
    }
</div>